.todo-list {
  margin-bottom: 20px;

  h2 {
    color: $primary-color;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      border-bottom: 1px solid #ccc;

      &.done span {
        text-decoration: line-through;
      }

      button {
        margin-left: 10px;
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }

  button {
    margin-top: 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

.todo-lists {
  padding: 20px;
}
